*
    box-sizing: border-box
    margin: 0
    padding: 0
    border: 0

body
    font-family: $font-primary
    background-color: #FFFFFF
    color: $color-text
.container
    max-width: 1140px
    margin: 0 auto
.button
    +button
    +hover
        
a
    +hover
        color: #1565D8
    


    

