@media (max-width: 480px)
    .container
        width: 93%
    .header
        padding: 17px 0 17px 0
        &__nav
            width: 100%
            top: 55px
            &-menu
                padding-right: 15px
    .hero
        margin-top: 99px
        &-background
            background-image: url(../img/hero/heromini.png)
            top: 310px
            background-size: 100%
        &-wrapper
            &-inner
                grid-template-rows: 3fr 4fr min-content
        &-description
            max-width: 100%
        &__title
            font-size: 30px
            line-height: 36px
            margin-bottom: 9px
            &-mini
                font-size: 30px
                padding-left: 27px
        &__text
            margin-bottom: 19px
            font-size: 16px
            line-height: 28px
            text-align: center
        &__button
            padding: 13px 37px
            font-size: 16px
            line-height: 20px
            &-down
                padding: 15px 15px 10px 16px
                grid-row: 3
                margin-left: -5px
                margin-top: 77px
    .partner
        &-description
            margin-bottom: 16px
        &__title
            font-size: 27px
            line-height: 33px
            max-width: 78%
        &__text
            font-size: 17px
            line-height: 26px
            font-size: 13px
            max-width: 100%
    .social
        &__title
            font-size: 28px
            line-height: 36px
        &-card
            &-wrapper
                column-gap: 20px
            &-description
                &__text
                    font-size: 13px
                    height: 72px
                &__link
                    font-size: 11px
                    line-height: 20px
                    &-arrow
                        vertical-align: text-top
                
    .footer
        padding-top: 48px
        
        padding-left: 3px
        &-top
            grid-template-columns: 1fr 1fr
            column-gap: 31px
            &-logo
                grid-row: 4/4;
                grid-column: span 2
                display: flex
                flex-direction: column
                align-items: center
                &__text
                    text-align: center
                    font-size: 14px
                    width: 270px
                    max-width: 100%
        &-list
            &__title
                font-size: 16px
                line-height: 22px
                &--visible
                        display: block
                &--hidden
                        display: none
            &__text
                font-size: 14px
                line-height: 20px
            &__category
                &-link
                    &--visible
                        display: block
                    &--hidden
                        display: none
        &-bottom
            display: none
@media (max-width: 407px)
    .container
        width: 93%
    .hero
        &-background
            top: 418px
        &-wrapper
            &-inner
                grid-template-rows: 3fr 4fr min-content    
@media (max-width: 382px)
    .hero
        &-background
            top: 369px
        &-wrapper
            &-inner
                grid-template-rows: 3fr 2fr min-content
        &__button
            &-down
                margin-top: 109px