@media (max-width: 1200px)
    .container
        max-width: 960px
    .hero
        &__image
            
            &-pattern
                    max-width: 102px
            &-macbook
                max-width: 100%
            &-iphone