@media (max-width: 480px)
    .container
        width: 93%
    .header
        padding: 17px 8px 17px 6px
        &__nav
            width: 100%
            top: 55px
            &-menu
                padding-right: 61px
    .hero
        margin-top: 99px
        margin-bottom: 18px
        &-background
            background-image: url(../img/hero/heromini.png)
            top: 310px
            background-size: 100%
        &-wrapper
            &-inner
                grid-template-rows: 3fr 4fr min-content
                &-thank
                    grid-template-rows: 1fr
        &-description
            max-width: 96%
        &__title
            font-size: 30px
            line-height: 36px
            margin-bottom: 9px
            &-mini
                font-size: 30px
                padding-left: 27px
        &__text
            margin-bottom: 19px
            font-size: 16px
            line-height: 28px
            text-align: center
        &__button
            padding: 12px 37px
            &-link
                font-size: 16px
                line-height: 20px
            &-down
                padding: 15px 15px 10px 16px
                grid-row: 3
                margin-left: -5px
                margin-top: 77px
    .partner
        margin-bottom: 19px
        &__title
            &-mini
                margin: 8px 0 27px 32px
                line-height: 14px
        &-description
            margin-bottom: 16px
        &__title
            font-size: 28px
            line-height: 29px
            max-width: 96%
            margin-bottom: 15px
        &__text
            font-size: 17px
            line-height: 24px
            font-size: 13px
            max-width: 100%
            margin-bottom: 10px
        &-logo
            column-gap: 31px
            max-width: 78%
    .working
        margin-bottom: 50px
        padding-bottom: 37px
        &-description
            margin-bottom: 6px
        &__title
            margin-bottom: 17px
            font-size: 28px
            line-height: 36px
        &__text
            max-width: 85%
            font-size: 16px
            line-height: 28px
            padding-right: 3px
        &-wrapper
            &-card
                grid-row-gap: 4px
        &-card
            flex-direction: column
            height: 199px
            width: 276px
            padding: 18px 17px 20px 20px
            &-design
                padding: 20px 20px 20px 14px
                grid-row: 5
            &-study
                padding: 16px 20px 20px 23px
            &__image
                margin-bottom: 16px
            &__title
                font-size: 21px
                line-height: 24px
                margin-bottom: 6px
    
    .portfolio
        &-mobile
            margin-bottom: 34px
            &-slider
                grid-template-columns: 1fr 
                justify-items: center
        &-description
            text-align: center
            &__title
                &-mini
                    margin-left: 12px
        &-slide
            height: 404px
            width: 282px
            &__image
                height: 300px
            &-description
                text-align: center
                padding: 32px 0px
                height: 109px
                &__title
                    &-mini
                        margin-bottom: 9px
                        margin-top: -8px
    .title
        &-mini
            &-hidden
                display: none
    .recall
        margin-bottom: 141px
        &__title
            margin-bottom: 66px
            text-align: center
            font-size: 28px
            line-height: 36px
            &-mini
                text-align: center
                margin-left: -14px
        &__slide
            padding: 8px
            padding-left: 11px
            padding-top: 29px
            max-height: 360px
            height: auto
            &-description
                flex-direction: column
                margin-bottom: 6px
            &-avatar
                margin-right: 0
                margin-bottom: 15px
            &-user
                &-name
                    margin-bottom: 8px;
                    padding-left: 32px
                    font-size: 20px
                    line-height: 24px
                &-profession
                    padding-right: 12px
                    font-size: 11px
                    line-height: 27px
            &-text
                font-size: 14px
                line-height: 22px
                text-align: center
                padding-right: 6px
            &-button
                &-prev,
                &-next
                    top: 109%
                    width: 50px
                    height: 50px
                &-prev
                    left: 20%
                &-next
                    right: 41%
    .swiper
        &-wrapper
            height: 360px
    .social
        margin-bottom: 54px
        &__title
            font-size: 28px
            line-height: 36px
            margin-bottom: 32px
            &-mini
                margin-bottom: 26px
        &-card
            &-wrapper
                column-gap: 20px
                grid-row-gap: 32px
                padding-right: 10px
                padding-left: 10px
                margin-left: -1px
            &__logo
                width: 48px
                height: 48px
                margin-bottom: 14px
            &-description
                &__title
                    margin-bottom: 7px
                &__text
                    margin-bottom: 15px
                    font-size: 13px
                    height: 72px
                    line-height: 20px
                &__link
                    font-size: 11px
                    line-height: 20px
                    &-arrow
                        vertical-align: text-top
    .message
        padding: 64px 0 64px 0
        &__title
            margin-bottom: 33px
            font-size: 28px
            line-height: 30px
        &__text
            max-width: 280px
            margin-bottom: 11px
            font-size: 16px
            line-height: 27px
            text-align: center
        &__button
            padding: 13px 26px

                
    .footer
        padding-top: 48px
        
        padding-left: 3px
        &-top
            grid-template-columns: 1fr 1fr
            column-gap: 13px
            padding-left: 9px
            padding-right: 9px
            &-logo
                grid-row: 4/4;
                grid-column: span 2
                display: flex
                flex-direction: column
                align-items: center
                margin-right: 0
                &__social
                    &-item:not(:last-child)
                        margin-right: 24px
                &__image
                    max-width: 75px
                    margin-bottom: 19px
                &__text
                    padding-right: 8px
                    margin-bottom: 22px
                    text-align: center
                    font-size: 14px
                    width: 270px
                    max-width: 100%
        &-list
            width: 99px
            margin-bottom: 43px
            &__title
                margin-bottom: 19px
                font-size: 16px
                line-height: 22px
                &--visible
                        display: block
                &--hidden
                        display: none
            &__text
                font-size: 14px
                line-height: 20px
            &__category
                &-item:not(:last-child) 
                        margin-bottom: 15px
                &-link
                    font-size: 14px
                    line-height: 20px
                    &--visible
                        display: block
                    &--hidden
                        display: none
        &-bottom
            display: none
    .modal
        &__dialog
            top: 50%
            left: 50%
            width: 90%
            max-width: 100%
        &__title
            font-size: 30px
        &__message
            margin-bottom: 10px
        &__button
            margin-top: 8px
            &-wrapper
                display: flex
                flex-direction: column-reverse
    .Careers
        margin-top: 0
            
@media (max-width: 407px)
    .container
        width: 93%
    .hero
        &-background
            top: 418px
        &-wrapper
            &-inner
                grid-template-rows: 3fr 4fr min-content    
@media (max-width: 382px)
    .hero
        &-background
            top: 369px
        &-wrapper
            &-inner
                grid-template-rows: 3fr 2fr min-content
        &__button
            &-down
                margin-top: 109px