@media (max-width: 768px)
    .container
        max-width: 700px
        width: 92%
    .header
        padding: 36px 0 36px 0
        &--fixed
            position: fixed
            top: 0
            right: 0
            left: 0
            z-index: 99
        &__nav
            position: fixed
            top: 104px
            left: 0
            bottom: 0
            width: 60%
            transition: 0.5s
            transform: translateX(-100%)
            box-shadow: 5px 0 5px -5px rgba(0, 0, 0, .5)
            overflow: auto
            &-menu
                flex-direction: column
                align-items: center
                background-color: $bc-secondary
                height: 100%
                width: 100%
            &-item
                margin: 30px 0 30px 0
                font-size: 14px
            &-item:not(:last-child)
                margin-right: 0
            &--visible
                transform: translateX(0%)
            &-item ul
                left: 110px
                top: -10px
            &-link
                &-angle
                    transform: rotate(-90deg)
        &__button
            &--hidden
                display: none
            &--visible
                display: flex
        
    .scroll
        box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .3)
    .menu-burger
        display: block
    .hero
        margin-top: 136px
        margin-bottom: 0
        &-wrapper
            &-inner
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 2fr 1fr 1fr;
                align-items: center;
                justify-items: center;
        &-description
            max-width: 63%
            align-items: center
        &__title
            text-align: center
        &__image
            position: relative
            width: 100%
            &-oval
                max-width: 41%
            &-pattern
                    top: 46px
                    right: 83%
                    max-width: 88px
            &-macbook
                max-width: 88%
            &-iphone
                top: 118px
                right: -47px
    .partner
        &-wrapper
            display: flex
            flex-direction: column
            align-items: center
        &-description
            display: flex
            flex-direction: column
            align-items: center
        &__title
            text-align: center
            max-width: 46%
        &__text
            text-align: center
        &-logo
            display: grid
            grid-template-columns: 1fr 1fr
            gap: 20px
            &__link
                &-airbnb
                    display: none    