@media (max-width: 1200px)
    .container
        max-width: 960px
    .hero
        &-background
            height: 68%
    .working
        &__text
            max-width: 65%
    .partner
        &__title 
            max-width: 42%
    .recall
        &__slide
            width: 465px
            height: auto
    .social
        &-card
            &-wrapper
                padding: 0
            &-description
                &__text
                    font-size: 15px
