@media (max-width: 768px)
    .container
        max-width: 700px
        width: 92%
    .header
        padding: 36px 0 36px 0
        &--fixed
            position: fixed
            top: 0
            right: 0
            left: 0
            z-index: 99
        &__nav
            position: fixed
            top: 104px
            left: 0
            bottom: 0
            width: 60%
            transition: 0.5s
            transform: translateX(-120%)
            box-shadow: 5px 0 5px -5px rgba(0, 0, 0, .5)
            overflow: auto
            &-menu
                flex-direction: column
                align-items: center
                background-color: $bc-secondary
                height: 100%
                width: 100%
            &-item
                margin: 30px 0 30px 0
                font-size: 14px
            &-item:not(:last-child)
                margin-right: 0
            &--visible
                transform: translateX(0%)
            &-item ul
                left: 110px
                top: -10px
            &-link
                &-angle
                    transform: rotate(-90deg)
        &__button
            &--hidden
                display: none
            &--visible
                display: flex
        
    .scroll
        box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .3)
    .menu-burger
        display: block
    .hero
        margin-top: 136px
        margin-bottom: 0
        &-background
            background-position: right 0
            top: 404px
            height: 53%
        &-wrapper
            &-inner
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 4fr 6fr 1fr;
                align-items: center;
                justify-items: center;
        &-description
            max-width: 92%
            align-items: center
        &__title
            text-align: center
        &__button
            margin-bottom: 0
            &-down
                grid-row: 3
    .partner
        &-wrapper
            display: flex
            flex-direction: column
            align-items: center
        &-description
            display: flex
            flex-direction: column
            align-items: center
        &__title
            text-align: center
            max-width: 90%
        &__text
            text-align: center
            max-width: 70%
        &-logo
            display: grid
            grid-template-columns: 1fr 1fr
            gap: 20px
            &__link
                &-airbnb
                    display: none
    .working
        &__text
            max-width: 42%
        &-card
            padding: 20px 20px 30px 20px
    .portfolio
        display: none
    .portfolio
        &-mobile
            display: block
            &-slider
                display: grid
                grid-template-columns: 1fr 1fr
                gap: 24px
        &-description
            margin-bottom: 36px
            &__title
                +title
                font-size: 28px
                line-height: 36px
                &-mini
                    +title-mini
                    font-size: 14px
                    line-height: 19px
                    margin-bottom: 16px
                    text-transform: uppercase
                    letter-spacing: 2px
        &-slide
            &-description
                text-align: center
                padding: 15px 20px
                max-height: 140px
                &__title
                    font-size: 24px
                    line-height: 32px
                    &__mini
                        line-height: 20px
    .recall
        &__slide
            max-width: 100%
            height: 300px
@media (max-width: 668px)
    .portfolio
        &-slide
            &-description
                height: 130px
                &__title
                    &-mini
                        margin-bottom: 6px


@media (max-width: 589px)
    .hero
        &-wrapper
            &-inner
                grid-template-rows: 4fr 5fr 1fr