.hero
    position: relative
    padding: 0 0 100px 0
    margin-bottom: 106px
    &-background
        position: absolute
        width: 100%
        height: 95%
        background-image: url(../img/hero.png)
        background-repeat: no-repeat
        background-position: right 10px
        background-size: contain
    &-wrapper
        &-outer
            max-width: 1440px
            margin: 0 auto
            position: relative
        &-inner
            display: grid
    &-description
        display: flex
        flex-direction: column
        align-items: baseline
        max-width: 41%
    &__title
        margin: 0
        margin-bottom: 15px
        font-family: $font-secondary
        font-weight: bold
        font-size: 48px
        line-height: 60px
        letter-spacing: 0.2px
        color: inherit
        &-mini
            font-size: 36px
    &__text
        margin-bottom: 62px
        font-size: 18px
        line-height: 32px
        color: $color-desc
    &__button
        margin-bottom: 56px
        padding: 15px 39px
        font-weight: bold
        font-size: 18px
        line-height: 25px
        background-color: $color-text
        border: none
        color: #FFFFFF
        +hover
            background-color: $bc-messeges
    &__button
        &-down
            padding: 19px 18px 13px 18px
            border-radius: 50%
            background-color: #ffffff
            color: $color-desc
            border-color: $color-desc
            width: max-content
            +hover
                transition: transform 0.1s linear
                transform: scale(1.1)
    
