.partner
    margin-bottom: 101px
    &-description
        display: flex
        justify-content: space-between
        margin-bottom: 82px
    &__title
        max-width: 38%
        +title
        &-mini
            +title-mini
    &__text
        max-width: 49%
        +text
    &-logo
        display: flex
        align-items: center
        justify-content: space-between
        max-width: 86.5%
        &__link
            +hover
                transition: transform 0.1s linear
                transform: scale(1.1)
        
        