.working
    padding: 80px 0 58px 0
    margin-bottom: 100px
    background-color: $bc-secondary
    &-description
        display: flex
        align-items: center
        justify-content: space-between
        margin-bottom: 40px
    &__title
        +title
    &__text
        +text
        padding-right: 52px
    &-wrapper
        &-card
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 29px;
            row-gap: 22px;
    &-card
        display: flex
        align-items: end
        align-items: 
        padding: 21px 24px 35px 24px
        max-width: 361px
        height: 164px
        background: #FFFFFF
        border: 1px solid #E5EAF4
        box-sizing: border-box
        box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.05)
        border-radius: 16px
        overflow: hidden
        &__image
            margin-right: 15px
        &__title
            margin: 0
            +title
            font-size: 22px
            line-height: 46px
            letter-spacing: 0.2px
        &__text
            margin: 0
            +text
            font-size: 14px;
            line-height: 20px
                
        
    